<template name="home">
	<header>
		<a href="#" class="exibe"><svg id="menu">
			<use xlink:href=/icons.svg#menu></use>
		</svg></a>
		<div class="logo-place">
			<img id="logo" src="imgs/ETNSmall.png" alt="">
		</div>
		<nav class="dispose">
				{{> buttons}}
		</nav>
	</header>
	<main>
		{{> Template.dynamic template=main}}
	</main>
</template>
