<template name="buttons">
    <div class="centralize btn">
        <a href="/">
            <svg id="list">
                <use xlink:href=/icons.svg#list></use>
            </svg>
        </a>
    </div>
    <div class="centralize btn">
        <a href="/camera">
            <svg id="camera">
                <use xlink:href=/icons.svg#camera></use>
            </svg>
        </a>
    </div>
    <div class="centralize btn">
        <a href="/settings">
            <svg id="settings">
                <use xlink:href=/icons.svg#settings></use>
            </svg>
        </a>
    </div>
    <div class="centralize btn">
        <a href="/info">
            <svg id="info">
                <use xlink:href=/icons.svg#info></use>
            </svg>
        </a>
    </div>
</template>
