<template name="camera">
    <div id="foto" >
      <img src="" alt="" id="pic">
    </div>
    <div class="camera">
        <div class="icns">
              <svg id="captura">
                  <use xlink:href=/icons.svg#camera></use>
              </svg>
        </div>
        <div class="icns">
              <svg id="load">
                  <use xlink:href=/icons.svg#load></use>
              </svg>
        </div>
    </div>


</template>
