<template name="info">
    <section class="dataLabel centralize info">
        <div id="infos">
            <h5>ETN - Exploradores da Terra do Nunca</h5>
            <br>
            <p>Desenvolvido por:
                <br>
                <ul id="authors">
                    <li><span>Adler Mesquita Orteney</span></li>
                    <li><span>João Pedro de Albuquerque Krejci</span></li>
                </ul>
            </p>
            <br>
            <p>Desenvolvimento com <em>Meteor</em></p>
            <br>
            <img src="/imgs/ETN-Completo.png" alt="ETN" width="70%">
        </div>
    </section>
</template>
