
<template name="pessoa">
  <div class="card">
      <div class="image">
          <img src={{caminhoMeteor}} alt={{nome}} class="picture" />
      </div>
      <div class="dataLabel">
          <p><span>Nome:</span> {{nome}}</p>
          <p><span>Idade:</span> {{idade}}</p>
          <p><span>Sexo:</span> {{sexo}}</p>
          <!-- Isso aqui não é pra aparecer no Result -->
          <button class="found">Encontrei</button>
          <!-- Isso aqui não é pra aparecer no Result -->
          <p><span>Local:</span> {{cidade}}</p>
          <p><span>Data:</span> {{dataDesaparecimento}}</p>
      </div>
  </div>
</template>
