<template name="settings">
    <section class="dataLabel login">
        <p class="nota">Configure sua conta de email no aplicativo para contatar
          as entidades locais responsáveis por pessoas desparecidas</p>
        <form>
            <input type="text" class="mail" placeholder="Email">
            <input type="password" class="mail" placeholder="Senha">
            <div class="buttonSubmit">
                <button type="submit" class="button">
                    <svg id="yes">
                        <use xlink:href=/icons.svg#yes></use>
                    </svg>
                </button>
            </div>
        </form>
        <section name="Telefones" class="phones dataLabel">
            <ul>
                <h4>Telefones dos Órgãos</h4>
                <br>
                <li>Secretária de Segurança Pública:  +99 99 99999 9999</li>
                <li>Departamento de Pessoas Desaparecidas:  +99 99 99999 9999</li>
                <li>Departamento de Polícia:  190</li>
            </ul>
        </section>
    </section>
</template>
