  /* estilização ids */

svg {
    fill: #fff;
    padding: 2px 5px;
}

svg:hover {
   fill: #B62F64;
}

svg#menu {
    fill: #fff;
    width: 25pt;
    height: 25pt;
}

svg#list {
    width: 2em;
    height: 2em;
}

svg#camera {
    width: 2em;
    height: 2em;
}

svg#settings {
    width: 2em;
    height: 2em;
}

svg#info {
    height: 2em;
    width: 2em;
}
