.camera {
    position: relative;
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icns {
    display: flex;
}

#foto{
  position: absolute;
  left: 0;
  padding: 3px 10px;
  width: 94.5%;
  text-align: center;
}

#pic {
  width: 65%;
  height: auto;
}

svg#captura {
    width: 2cm;
    height: 2cm;
    fill: #624174;
}

svg#load {
    width: 2cm;
    height: 2cm;
    fill: #624174;
}
