.info {
    height: 100%;
    width: 100%;
    font: bold 1.2em sans;
}

li {
    list-style-type: none;
}

#authors {
    text-align: center;
}

#infos {
    padding-top: 2cm;
    text-align: center;
}
