svg#more {
    fill: #EAEAE6;
    width: 100px;
    height: 100px;
}

footer {
    height: 4cm;
    text-align: center;
}

.card {
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px 1px #332244;
}

.image {
  display: static;
  text-align: center;
  background-color: black;
  border: solid 2px #624174;
}

.picture {
  position: relative;
  max-width: 100%;
}

.dataLabel {
    padding: 10px;
    font: normal auto sans;
    background-color: #624174;
    color: #EAEAE6;
}

.lista {
    padding: 5% 8.5%;
}

.found {
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 5px #332244;
    padding: 10px;
    background-color: #EAEAE6;
    color: #624174;
    float: right;
    font: normal auto sans;
    display: inline;
}
