* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/* margin/font reset ahead */

/* tags */
a {
    text-decoration: none;
}

h1 {
    font: bolder 50pt sans;
    color: #EAEAE6;
    display: inline;
}

span {
    color: #EAEAE6;
    text-decoration: underline;
    font-weight: 900;
}

/* bg-img set */
main {
    background-size: contain;
    background-attachment: scroll;
    background-color: #fff;
    background-repeat: no-repeat;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

nav {
    background-color: #624174;
}

/* classes */
.logo-place {
    display: flex;
    justify-content: center;
    background-color: #624174;
    width: 100%;
    box-shadow: 1px 1px 10px #322441;
    z-index: 2;
}

.centralize {
    display: flex;
    justify-content: center;
}

.show {
    position: absolute;
}

.dispose {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 1% 0;
    color: #624174;
}

/*IDS*/

#menu {
  display: flex;
  position: absolute;
  padding: 10px 15px;
}

#logo {
  width: auto;
  height: 35pt;
  padding-bottom: 7px;
}
