.login {
    width: 90%;
    height: 45%;
    margin-top: 10px;
}

.mail{
    padding: 10px;
    position: relative;
    width: 91%;
    font: normal 16pt sans;
    height: auto;
}

.nota {
    position: relative;
    font: normal auto sans;
    margin: 10px 0;
}

.phones {
    position: relative;
    top: 20%;
    left: -3%;
    width: 100%;
    font: normal auto sans;
}

.buttonSubmit {
    display: flex;
    justify-content: center;
}

.button{
    display: inline;
    margin: 10px 35px;
    border: 5px solid rgba(0,0,0,.2);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,.1);
}

svg#no {
    fill: #eaead6;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

svg#yes {
    fill: #eaead6;
    width: 30px;
    height: 30px;
}



svg#yes:hover {
    fill: #393;
}
